body {
  height: 100%;
  padding-top: 70px;
  padding-left:2%;
  padding-right:2%;
}

img {
	margin-top: -8px;
}

footer{

	font-size: 12px ;
	margin-top: 100px;
	text-align: center ;
	padding: 20px ;
	height: 100px;
	width:100%;
	border-top:1px;
	bottom:0px;

}

footer p{
margin-bottom: 0 ;
}

footer div{
	padding: 30px ;
	border-top: solid #dddddd 6px;
}

/* Estilos menu */
.nav{
    margin-top: 10px;
}

.nav li {
	font-size: 20px ;
}

/* Estilos de index */

.jumbotron{
	padding:1% !important;
}

  p .cita {
 	font-style: italic;
 }


#noticia .header{
	background-color: #3776e8;
	color: white ;
	margin-top:-4px;
	margin-left:2px;
}
#noticia{
	padding-bottom:10px ;
	border-radius: 0 ;
}


#libros{
	width:90%; 
	margin-top: 6% ;
}

 .titulos{
 	margin-top:4%;
 	 color: #3776e8;
 }

/* .inicio {
 	margin: 2% 10% 0 0 ;
 }*/





/* Estilos de catalogo - pestañas y sus divs*/
#tabrec{ 
 background-color: #3776e8 ;
 color:#ffffff;
}
#tabap{ 
 background-color: #ef9233 ;
 color:#ffffff;
}
#tabinv{ 
 background-color: #e44242 ;
 color:#ffffff;
} 
#tabcur{ 
 background-color: #888888 ;
 color:#ffffff;
} 


#recreacion, #visitas{
	border-top: #3776e8 solid ;
	border-left: #3776e8 solid ;
}

#recreacion h3, #visitas h3 {
    color: #3776e8;
}

#apoyo, #lanzamientos{
	border-top: #ef9233  solid;
	border-left: #ef9233  solid;
}

#apoyo h3, #lanzamientos h3 {
    color: #ef9233;
}

#investigacion, #otros{
	border-top: #e44242 solid ;
	border-left: #e44242 solid ;
} 

#investigacion h3, #otros h3 {
    color: #e44242;
}

#curiosidades{
	border-top: #888888 solid ;
	border-left: #888888 solid ;
}



#ob{color:red; font-weight: bold;}

.busqueda{
	padding-left: 10px;
}
.busqueda div, {
	padding:2%;

}
.btn-buscar{
	margin:2%;
}

.nav li a{
    padding: 6px;
}

.tab-pane{
	padding: 1%;
}

.title-section {
    margin-bottom: 1em;
}

.red {color: red}

#buscar {
    width: 40%;
    height: 33px;
    padding: 4px 8px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


 .size{
	width:227px;
}

.nav-tabs>li>a:hover{
border-color: #eee #eee ;
opacity: 0.5 ;
}